AWSTemplateFormatVersion: '2010-09-09'
Description: Creates the required security group and security group rules for Helix
  Swarm
Parameters:
  Environment:
    Default: dev
    MaxLength: '20'
    MinLength: '3'
    Description: Provide an environment name that will be used in resource names and
      tagging.  Min 3, max 20
    Type: String
  VPCID:
    Description: Which VPC ID to add the security group to
    Type: AWS::EC2::VPC::Id
    Default: ''
  AccessCIDR:
    Description: the CIDR range to whitelist for external access
    Type: String
    Default: 10.1.1.1/32
    AllowedPattern: (\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})
  VPCCIDR:
    Description: CIDR block of VPC that Helix Core is deployed into
    Type: String
    Default: 10.0.0.0/16
    AllowedPattern: (\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})
Resources:
  SwarmSG:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: This security group is for Helix Swarm.
      VpcId:
        Ref: VPCID
      Tags:
      - Key: Name
        Value:
          Fn::Sub: Perforce-${Environment}-${AWS::StackName}
      - Key: Environment
        Value:
          Ref: Environment
      - Key: Product
        Value: Perforce
  ingress1:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      Description: SSH - Management level access to VM
      GroupId:
        Ref: SwarmSG
      IpProtocol: tcp
      FromPort: 22
      ToPort: 22
      CidrIp:
        Ref: AccessCIDR
  ingress2:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      Description: Allow Swarm access from within the VPC
      GroupId:
        Ref: SwarmSG
      IpProtocol: tcp
      FromPort: 80
      ToPort: 80
      CidrIp:
        Ref: VPCCIDR
  ingress3:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      Description: Allow Swarm access from within the VPC
      GroupId:
        Ref: SwarmSG
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp:
        Ref: VPCCIDR
  ingress4:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      Description: Swarm
      GroupId:
        Ref: SwarmSG
      IpProtocol: tcp
      FromPort: 80
      ToPort: 80
      CidrIp:
        Ref: AccessCIDR
  ingress5:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      Description: Swarm
      GroupId:
        Ref: SwarmSG
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp:
        Ref: AccessCIDR
  egress1:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      Description: Allow all ports/protocols for egress traffic
      GroupId:
        Ref: SwarmSG
      IpProtocol: '-1'
      CidrIp: 0.0.0.0/0
Outputs:
  SecurityGroupID:
    Description: Security Group ID for Helix Core Swarm access
    Value:
      Ref: SwarmSG
